.headerBackground {
    width: 100%;
    background: #F7EBE5;
  }
  
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .select {
    border: none;
    outline: none;
    background: transparent;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
  }
  
  .navLink {
    text-decoration: none;
    color: black;
  }
.NavLink {
  display: flex;
  align-items: center;
  gap: 5px;
}
  .Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  
  .one, .two {
    display: flex;
    align-items: center;
    gap: 16px;
    height:48px
  }
  
  .navLink {
    text-decoration: none;
    color: black;
  }
  
  .phoneLink {
    text-decoration: none;
    color: black;
  }

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 16px;
  border-radius: 4px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selectTrigger {
  cursor: pointer;
  border-radius: 4px;
  margin: 0 8px;
}

.popper {
  z-index: 1300; /* Ensure the z-index is high enough */
}

.popperBox {
  background: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}