@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
  

.container{
    max-width: 1440px !important;
    margin: 0 auto;
    padding: 0 30px;
}

.miniContainer {
    width: 1170px;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}
